*{ margin:20;
 paddding:20;}
hr{
color:#C1C177;
size:46px;


}
p{font-size:24px;
font-family:cursive;
color:white;
text-shadow: 2px 2px 4px #C1C177;
font-weight:bold;


}

div.heading{
height:100px;
background-color:rgba(192,192,192,2);
color:black;
font-size:32;
overflow: visible;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}


#container{
  margin-top: 100px;
width:1520px;
overflow:hidden;
}
#sliderbox{
position:relative;
width:6080px;
animation-name:anni;
animation-duration:20s;
animation-iteration-count:infinite;
}

@keyframes anni{
0%{left:0px;}
20%{left:0px;}
25%{left:-1520px;}
45%{left:-1520px;}
50%{left:-3040px;}
70%{left:-3040px;}

}
#sliderbox img{float:left;
}

 body{background-color:rgba(192,192,192,0.3)	;
height:500px;
background-size:cover;
background-position:center;
}

ul a li:hover{
background-color:white;
color: #C1C177;}

div.logo{
float left;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
h1{

font-family:Georgia;
color:white;
text-shadow: 2px 2px 4px #C1C177;
font-weight:bold;
font-size:100px;

}

ul a li{ 
  display: block;
text-transform: uppercase;
color:black;
text-decoration:none;
border-width:1px;  
border-color:transparent;
border-style:solid;
font- family:sans serif;
font-size:24px;
padding: 2px 20px;
transition:0.6s ease;
}

li{
margin:20px;
float:right;
font-size:24;
list-style-type:none;
padding-left:20;
padding-top:20px;
padding-bottom:20;
padding-right:10;
}
div img.q{
border-radius:50%;
align:center;
height:400px;
width:400px;

}

.bottom
{
align:center;
background-color:#C1C177;
height:300px;
width: 100%;
text-align:center;
}
.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
div.button1
{
background-color:rgb(208, 238, 244);
align:center;
float:right;

}
a.sidelink{

text-decoration:none;
float:right;
color: hotpink;
}
a:visited {
  color: hotpink;
}
a:link {
  color:hotpink;
}

div.p1{ column-count: 3;
column-gap: 40px;
column-rule-style: solid;
column-rule-width: 2px;
column-rule-color: #C1C177;

}

div.pic{
}
background-color:rgba(128,128,0,0.1);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
justify-content:space-around;
align:center;
}
.styles{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height:400px;
  width:400px; 
padding: 10px 10px;
align:center;
}

img.img1{float:left; height:100px; width:150px;}